/* Reset de estilos y estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px ;
    background-color: #f0f0f0;
    color: #333;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    color: #206cde;
  }

  h2 {
    font-size: 18px;

    color: #a9b9d1;
  }
  
  /* Encabezado */
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Contenedor principal */
  
  .container {
    max-width: 1000px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Botones */
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Lista de productos */
  
  #productList {
    list-style: none;
    padding: 20 px ;
    margin-right: 20px;
    padding-right: 20px;
  }
  
  #productList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  .addToCartButton {
    background-color: #28a745;
  }
  
  .addToCartButton:hover {
    background-color: #1e7e34;
  }
  
  /* Formularios */
  
  form {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Formulario de cierre de sesión */
  
  #logoutForm button[type="submit"] {
    background-color: #dc3545;
  }
  
  #logoutForm button[type="submit"]:hover {
    background-color: #c82333;
  }
  
  /* Formulario de inicio de sesión y registro */
  
  #loginForm button[type="submit"],
  #registerForm button[type="submit"] {
    background-color: #007bff;
  }
  
  #loginForm button[type="submit"]:hover,
  #registerForm button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el selector de cantidad */
  
  #filterQuantity {
    padding: 5px;
  }
  
  /* Estilos para los enlaces */
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  